* {
  box-sizing: border-box;
}
body {
  border: 0;
  margin: 20px;
  font-family: sans-serif;
}
#globe {
  width: 640px;
  height: 480px;
  background-color: #000000;
  position: relative;
}
.inline-inputs {
  font: 16px sans-serif;
  margin-left: 1ch;
}
.inline-inputs input[type=text] {
  width: 7ch;
  margin: 0 2px 0 4px;
  text-align: right;
}
.text {
  margin-right: 2ch;
}
